
body {
    background-color: rgb(65, 59, 59);
    max-width: 75%;
    font-size: 15px
    
}

body {
    color: white;
}




.ins {
    padding-right: 10px;
    margin-right: 1000px;
    border-right: 60px
    
}